<div class="center hero-unit">
    <h1>Welcome!</h1>
    <h2>
      You've come to Alice's home. Come on in. Mi casa es su casa.
    </h2>

    <%= link_to "Knock", signup_path, class: "btn btn-large btn-primary" %>
</div>
