<div class="center hero-unit">
    <h1>Welcome home!</h1>
    <h2>
      Alice loves her home. Do you? Mi casa es su casa.
    </h2>

    <%= link_to "Come on in!", 'signup_path', class: "btn btn-large btn-primary" %>
</div>
